@import '../../styles/variables';

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    &__center {
        font-family: 'SF Mono';
        text-align: center;
        font-size: 12px;
        color:#a8b2d1;
        transition: 0.2s ease-in-out; 
        &:hover {
            color: $blue-color;
            cursor: pointer;
        }
        &__icons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 12px;
             > div {
                display: flex;
                gap: 5px;
                margin-top: 1.5vh;
                line-height: 1;
             }
        }
    }
}